 /* Top bar */
 .top_bar {
     width: 100%;
     height: 42px;
     background-color: #102451;
 }


 .top_bar ul li img {
     width: 15px;
     height: 15.5px;
 }

 .list_item p {
     font-family: "Montserrat", sans-serif;
     font-weight: 600;
     font-style: normal;
     font-size: 11px;
     line-height: 150%;
     letter-spacing: 0;
     text-transform: uppercase;
     color: #FFFFFF;
 }

 ul {
     display: flex;
     align-items: center;
     justify-content: flex-end;
     height: 42px;

     gap: 6px;

 }

 li {
     .list_item {
         display: flex;
         align-items: center;
         gap: 8px;

     }
 }

 /* end of top bar section */

 /* navigation bar */
 .navigation_bar {
     width: 100%;
     height: 106px;
     background-color: #FFFFFF;
     border: 1px solid red;

 }

 .rehub_directory img {
     width: 211px;
     height: 56px;
 }

 .rehub_directory {
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 106px;
       
 }

 .rehub_directory p {
     font-family: "Montserrat", sans-serif;
     font-weight: 600;
     font-style: normal;
     font-size: 14px;
     line-height: 150%;
     letter-spacing: 1.4px;
     text-transform: uppercase;
     
     
 }

 .rehub_directory {
     .phone_bar {
         width: 276px;
         height: 58px;
         border: 1px solid red;
         display: flex;
         align-items: center;
        /* justify-content: flex-end; */

         a img {
             width: 24px;
             height: 24px;
             color: red;
         }

         .phone {
             display: flex;
             gap: 13px;
             padding: 20px;
         }

         .tele_phone {
             width: 159px;
             height: 24px;
         }
     }
 }

 .rehub_directory ul {
    display: flex;
    gap: 20px;
}


/* end section of navigation bar */


/* Banner section */

.rehab-finder{
    width: 1920px;
    height: 920px;
    background-image: url(../ASSEST/IMAGES/Banner\ \(2\).png);
    position: relative;


}
.rehab-heading p{
    font-family: "Montserrat", sans-serif;
font-weight: 700;
font-size: 48px;
line-height: 130%;
letter-spacing: 0;
text-align: center;
text-transform: capitalize;
color: #FFFFFF;
}
.rehab-heading h4{
    font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 28px;
line-height: 150%;
letter-spacing: 0;
text-align: center;
text-transform: capitalize;
color:#FFFFFF ;
text-align: center;

}

.state-directory{
    width: 919px;
    height: 129px;
    border-radius: 5px;
    background-color: #FFFFFF;
    margin: 0px auto;
}
.rehab-heading{
  
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.state-directory{
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
}
.state-directory p{
    font-family: Montserrat;
font-weight: 600;
font-size: 18px;
line-height: 150%;
letter-spacing: 0;
text-transform: capitalize;
padding: 20px;
}
.state-directory h4{
    font-family: Montserrat;
font-weight: 500;
font-size: 16px;
line-height: 150%;
letter-spacing: 0;
text-transform: capitalize;
padding: 0px 20px 
}
.search-button{
    width: 211px;
    height: 81px;
    border-radius: 5px;
    background-color: #D45352;
   position: absolute;
    right: 0;
    top: 25px;
   transform: translate(-50px);   
   display: flex;
   justify-content: center;
  align-items: center;
  
}
.search-button p{
    font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 130%;
letter-spacing: 10%;
text-transform: uppercase;
color: #FFFFFF;


}